 /* Page Setting */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    background-color: black;
}

body {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}

/* Universal setting */

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-space {
    margin: none;
    padding: none;
}


/* Nav bar elements */
.title {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 2px solid black;
}

.nav-bar {
    border: 3px solid black;
    width: 100%;
    height: 5.5rem;
    display: flex;
    background-color: darkgrey;
    font-size: medium;
}

.nav-block {
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}


.expand-div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 0rem;
    width: 500px;
    overflow: hidden;
    transition: height 0.5s linear;
    color: white;
    z-index: 1001;
}

.how-des {
    width: 700px;
}

.attack-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* End of navbar */
/* Board Elements */
.board {
    position: relative;
    margin-top: 1rem;
    background-color: black;
    border: 2px solid black;
}

.board-box {
    position: relative;
}

.block {
    position: absolute;
    background-size: cover;
    background-position: center;
}

.brdr-corner {
    background-image: url(../images/corner\ up.png);
    width: 35px;
    height: 35px;
}

.brdr-corner-down {
    background-image: url(../images/corner-down.png);
    width: 16px;
    height: 35px;
}

.brdr-side-horix {
    background-image: url(../images/border-side.png);
    height: 65px;
    width: 18px;
}

.brdr-side-verti {
    background-image: url(../images/border-up.png);
    height: 35px;
    width: 65px;
}

.block-side {
    background-image: url(../images/side.png);
}

.block-corner {
    background-image: url(../images/corner.png);
}

.block-side {
    background-image: url(../images/side.png);
}

.block-fill1 {
    background-image: url(../images/fill1.png);
}

.block-fill2 {
    background-image: url(../images/fill2.png);
}

.player {
    z-index: 900;
    background-image: url(../images/player-front.png);
}

.player-front {
    background-image: url(../images/player-front.png);
}

.player-left {
    background-image: url(../images/player-left.png);
}

.player-right {
    background-image: url(../images/player-side.png);
}

.player-back {
    background-image: url(../images/player-back.png);
}

/* Pieces */

.piece {
    position: absolute;
    
}

.fog {
   position: absolute;
   background-image: url(../images/fog.png);
}

.arrow {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.breeze {
    background-image: url(../images/breeze.png);
}

.pit {
    background-image: url(../images/pit.png);
}

.stench {
    background-image: url(../images/stench.png);
}

.wumpus {
    background-image: url(../images/wumpus.png);
}

.glitter {
    background-image: url(../images/glitter.png);
}

.treasure {
    background-image: url(../images/treasure.png);
}

/* Description Box */
.description-box {
    margin-top: 3rem;
    position: relative;
    border: 3px solid black;
    width: 65.6rem;
    height: 13.4rem;
    background-color: darkgrey;
}

.result-box {
    opacity: 90%;
    width: 20rem;
    height: 20rem; 
    border: 3px solid black;
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
}

.gameover {
    font-size: 3rem;
}


@media screen and (max-width: 601px) {
    .description-box{
        width: 80%;
    }
  }
